    _link_enum_strings({{ rec.field_to_attr['ZNAM'] }}, index=0)
    _link_enum_strings({{ rec.field_to_attr['ONAM'] }}, index=1)
    _link_parent_attribute(raw_value, 'raw_value', read_only=True,
                           use_setattr=True)
