    _link_enum_strings({{ rec.field_to_attr['ZRST'] }}, index=0)
    _link_enum_strings({{ rec.field_to_attr['ONST'] }}, index=1)
    _link_enum_strings({{ rec.field_to_attr['TWST'] }}, index=2)
    _link_enum_strings({{ rec.field_to_attr['THST'] }}, index=3)
    _link_enum_strings({{ rec.field_to_attr['FRST'] }}, index=4)
    _link_enum_strings({{ rec.field_to_attr['FVST'] }}, index=5)
    _link_enum_strings({{ rec.field_to_attr['SXST'] }}, index=6)
    _link_enum_strings({{ rec.field_to_attr['SVST'] }}, index=7)
    _link_enum_strings({{ rec.field_to_attr['EIST'] }}, index=8)
    _link_enum_strings({{ rec.field_to_attr['NIST'] }}, index=9)
    _link_enum_strings({{ rec.field_to_attr['TEST'] }}, index=10)
    _link_enum_strings({{ rec.field_to_attr['ELST'] }}, index=11)
    _link_enum_strings({{ rec.field_to_attr['TVST'] }}, index=12)
    _link_enum_strings({{ rec.field_to_attr['TTST'] }}, index=13)
    _link_enum_strings({{ rec.field_to_attr['FTST'] }}, index=14)
    _link_enum_strings({{ rec.field_to_attr['FFST'] }}, index=15)
