include CONTRIBUTING.rst
include LICENSE
include MANIFEST.in
include README.md
include caproto/_version.py
include caproto/server/*.jinja2
include docs-requirements.txt
include generate_headers.py
include headers.tpl
include test-requirements.txt
include versioneer.py

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include doc *.rst *.py Makefile make.bat
