include CONTRIBUTING.md
include LICENSE
include MANIFEST.in
include README.md
include caproto/_version.py
include caproto/server/records/*.jinja2
include generate_headers.py
include headers.tpl
include requirements-doc.txt
include requirements-test.txt
include versioneer.py

recursive-include caproto *.rst

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include doc *.rst *.py Makefile make.bat *.css
recursive-exclude doc generated/*.rst
recursive-exclude doc pva/generated/*.rst
