codecov
coverage
curio
dpkt
epics-pypdb
netifaces
parsimonious
pyepics >=3.4.2
pytest
numpy
parsimonious
pytest-timeout
pytest-rerunfailures
pytest-xdist
ophyd
trio >=0.18.0
git+https://github.com/klauer/catvs.git@py3k
